* {
  margin: 0px;
  padding: 0px;
}

html {
  max-height: 100vh;
}

body {
  width: 100%;
  display: grid;
  place-items: center;

  background-color: darkolivegreen;
}

#container {
  display: grid;
  place-items: center;

  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0vh;
}

/* character style */
#character_container {
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;

  width: 50%;
  height: 225%;
  border-radius: 0.75rem;
  border: 0.3rem solid white;

  z-index: 1;
}

#character_container #gambar {
  top: 72.5%;
  z-index: 2;
}

#character_container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  z-index: 0;
}

.slideshow {
  display: flex;
  overflow: hidden;
}

.video-container {
  width: 100%;
  transition: transform 0.5s ease;
}


.video-container:not(:first-child) {
  margin-left: -100%;
}

.slideshow.active .video-container {
  transform: translateX(-100%);
}

.prev,.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  font-size: 3rem;
  border: none;
  cursor: pointer;
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

#gambar {
  position: absolute;
  animation-name: idle;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2);
}

@keyframes idle {
  100% {
    transform: scaleX(-1);
  }
}

/* button style */

#action_button {
  transform: translate(0%,100%);
  z-index: 4;
}

#action_button button {
  text-align: center;
}

#action_button button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid white;
  color: white;

  background-color: transparent;
  border-radius: 20px;

  width: 150px;
  height: 55px;
  margin: 10px 10px;
}

#action_button button:hover,
#action_button button:focus {
  background-color: white;
  color: black;
  transition-duration: 250ms;
}

#gambar {
  width: 120px;
  margin-top: -20px;
}
