.container{
  display: grid;
  place-items: center;
  margin-top: 9%;
  
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.card {
  width: 300px; 
  border-top-right-radius:18px ; 
  border-top-left-radius:18px;
  animation-name: fade;
  animation-duration: 1s;
}



@keyframes fade{
from{
  opacity: 0.3;
  transform: translateX(20%);
}
to{
  opacity: 1;
  transform: translateX(0);
  }
}



.gambar{
width: 150px;
animation-name: muncul;
animation-duration: 2.5s;
}

@keyframes muncul{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.card-image:hover .gambar {
transform: scale(1.1);
transition: all .3s ease-in-out;
}

  


.card .selector{
position: absolute;
top: 40%;
bottom: 0;
width: 100%;
height: 66%;
background-color: rgba(255, 255, 255, 0.85);

display: flex;
justify-content: center;
align-items: center;
opacity: 0;
transition: opacity 0.5s;
}

.card .selector button{
  margin-top: -250px;
}

.card-image:hover .selector {
opacity: 1;
}

.selector button{
color: #5e5e5e;
outline: none;
border: 1px solid currentColor;
cursor: pointer;
padding: 8px 15px;
transform: translateY(20px) ;
border-radius: 50px;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: bolder;
font-size: 1.1em;
}

h3{
color:white;
}



.next{
right: 30%;
border-radius: 3px 0 0 3px;
}

.prev{
left: 34%;
}



.slider-container {
display: flex;
justify-content: center;
position: relative;
width: 100%;

}

.card-slider {
display: flex;
overflow-x: auto;
scroll-behavior: smooth;
}

.card {
flex: 0 0 auto;
width: 400px;
height: 600px;
}

.card-body{
  margin-top: 10%;
}

.prev,
.next {
position: absolute;
cursor: pointer;
top: 60%;
transform: translateY(-50%) translateX(-70%); 
font-size: 30px;
font-weight: bold;
color: #fff;
text-decoration: none;
background-color: white;
padding: 0px 8px;
border-radius: 20px;
}

#char1{
background-color: yellow;
}

#char2{
background-color: #00ffff;
}