#stats_container_outer {
    border: 2px solid white;
    background-color: rgba(95, 95, 95, 0.411);
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
}

#stats_container_inner {
    margin-left: 10%;
    margin-right: 10px;
    width: 60%;
    justify-content: space-around;
}

.stat {
    width: 20px;
    height: auto;
    padding-top: 12px;
}

.outline {
    border: 2px solid transparent;
    border-radius: 180px;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 10px 10px;
    text-align: center;
    overflow: hidden;
}

/* health section */
#outline_health {
    border-color: #ff2300;
}

#health {
    margin-top: 2.5px;
}

#health_filler {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #ff220083;
    left: 50%;
    border-radius: 40%;
    top: 55px;
    animation: flow 15s infinite linear;
}

/* energy section */
#outline_energy {
    border-color: #0050ff;
}

#energy_filler {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #0051ff86;
    left: 50%;
    border-radius: 40%;
    top: 20px;
    animation: flow 17.5s infinite linear;
}

#energy {
    position: relative;
}

/* hunger section */
#outline_hunger {
    border-color: #b5783c;
}

#hunger_filler {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #b5783c96;
    left: 50%;
    border-radius: 40%;
    top: 20px;
    animation: flow 18.5s infinite linear;
}

/* happy section */
#outline_happy {
    border-color: #faf028;
}

#happy_filler {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #faef288c;
    left: 50%;
    border-radius: 40%;
    top: 20px;
    animation: flow 12.5s infinite linear;
}

/* flowing animation */
@keyframes flow {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    50% {
        transform: translateX(-50%) rotate(360deg);
    }
    100% {
        transform: translateX(-50%) rotate(720deg);
    }
}

/* level section css */
#level {
    margin: auto 10px   ;
    border: 2px solid green;
    padding:  5px 5px;
    border-radius: 35px;
}

#level p {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-bottom: auto;
    padding-left: 12.5px;
}

#level_bar {
    border: 7.5px solid green;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 180px;
}

#level_curr {
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 2px 1px 2px 1px;
}